@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteItem</title>
</head>
<body>
    <div>
        This is the delete item page
    </div>
</body>
</html>