
@{
    ViewBag.Title = "New Item";
}

<h2>New Item</h2>

<p>Please enter your request:</p>

<form action="NewItem" method="post">
  <textarea name="details" rows="5" cols="50"></textarea><br />
  <input type="submit" name="submit" value="Submit" />
</form>


