
@{
    ViewBag.Title = "New Item";
}

<h2>New Item</h2>

<form action="NewItem" method="post">
  Requester: @ViewBag.Username <br />
  Request Due Date(YYYY/MM/DD Format): <input type="date" name="dueDate" /> <br />
  Request Details: <br />
  <textarea name="details" rows="5" cols="50"></textarea><br/> <br />
  <input type="submit" name="submit" value="Submit" />
</form>


